BasedOnStyle: Microsoft
AlignConsecutiveDeclarations: true
PointerAlignment: Left
NamespaceIndentation: All
FixNamespaceComments: false
PenaltyIndentedWhitespace: 1
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
UseTab: ForContinuationAndIndentation
IndentAccessModifiers: false