BasedOnStyle: Microsoft
AlignConsecutiveDeclarations: true
PointerAlignment: Right
IndentWidth: 4
NamespaceIndentation: All
FixNamespaceComments: false
PenaltyIndentedWhitespace: 1
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false