[submodule "vendor/anggur/math"]
	path = vendor/anggur/math
	url = git@github.com:noorwachid/anggurmath
	url = git@github.com:noorwachid/anggurutility
[submodule "vendor/anggur/common"]
	path = vendor/anggur/common
	url = git@github.com:noorwachid/anggurcommon
[submodule "vendor/anggur/os"]
	path = vendor/anggur/os
	url = git@github.com:noorwachid/angguros
[submodule "vendor/anggur/graphics"]
	path = vendor/anggur/graphics
	url = git@github.com:noorwachid/anggurgraphics
