[submodule "vendor/anggur/math"]
	path = vendor/anggur/math
	url = git@github.com:noorwachid/anggurmath
	url = git@github.com:noorwachid/anggurutility
[submodule "vendor/anggur/common"]
	path = vendor/anggur/common
	url = git@github.com:noorwachid/anggurcommon
